.tpt-status-cpu,
.tpt-status-gpu,
.tpt-status-fan {
	padding-top: 6px;
	padding-left: 4px;
}

.tpt-unit-cpu,
.tpt-unit-gpu
{
	font-size: 80%;
	padding-top: 8px;
	padding-right: 8px;
}
.tpt-unit-fan
{
	font-size: 10px;
	padding-top: 11px;
}

.tpt-box-title {
	color: #ccc;
	font-weight: bold;
	text-align: center;
	font-size: 100%;
	width: 200px;
}
.tpt-box-name {
	color: #aaa;
	font-weight: bold;
	text-align: left;
	width: 110px;
}
.tpt-box-value {
	font-weight: bold;
	text-align: right;
	width: 90px;
}

.tpt-box-title,
.tpt-box-name,
.tpt-box-value {
}
